.sizing {
    height: 600px;
}

.adjust {
    display: flex;
}

.dropdowns {
    border: none;
    background-color: white;
    text-decoration: none;
    overflow-y: auto;
}

.border {
    border: none;
}

.play-store {
    font-size: 9px;
    width: 130px;
    padding: 3px 3px 5px 5px;
    margin-top: 20px;
    margin-left: 700px;
}

.apple-store {
    font-size: 9px;
    width: 130px;
    padding: 3px 3px 5px 5px;
    margin-top: 10px;
    margin-left: 700px;
}

.footer {
    background-color: #152238;
    height: 250px;
}

.get-the-app {
    float: right;
    margin-top: 50px;
    margin-right: 300px;
    font-size: 18px;
}

.margin {
    margin-top: 70px;
}

.center {
    margin-left: 520px;
}

.spacing {
    margin-right: 10px;
}

.img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 67px;
}

.pad-left {
    padding-left: 74px;
    padding-top: 10px;
}

.title {
    font-size: 30px;
}

.biyeshadi {
    margin-top: 30px;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards {
    background-color: #007bff;
    height: 400px;
    border-radius: 20px;
}
.pics-people {
    float: right;
    margin-left: 30px;
}
.foot-copy {
    padding-top: 130px;
    font-size: 15px;
}
.foot-app {
    padding-top: 80px;
    font-size: 18px;
    padding-left: 700px;
}
.container {
    position: relative;
}  
.container img {vertical-align: middle;}
.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.toasty {
    margin-right: 0px;
    height: 50px;
    width: 200px;
}

  